<template>
  <mu-appbar style="width: 100%;" color="primary">
    Budget
    <mu-button v-if="!isLogin" flat slot="right" to="login">Login</mu-button>
    <mu-button v-else flat slot="right" to="login" @click="logout">Logout</mu-button>
  </mu-appbar>
</template>

<script>
  import axiosInstance from '../store/axiosInstance';
  import Cookies from 'js-cookie';

  export default {
    name: "AppBar",
    data() {
      return {
        isLogin: false
      }
    },
    created() {
      if (this.$store.state.token) {
        this.isLogin = true
      }
    },
    methods: {
      logout() {
        Cookies.remove('token');
        axiosInstance({
          method: 'post',
          url: 'http://192.168.1.242:8000/api/rest-auth/logout/',
        })
          .then(res => {
            this.$store.commit('logIn', null);
            this.$router.push({name: "UserLoginForm"})
          })
          .catch(error => {
            console.log(error)
          });
      }
    }
  }
</script>

<style scoped>

</style>
