<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <button @click="redirectToLogin">Yes!</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Please login'
    }
  },
  created(){
    this.redirectToLogin()
  },
  methods: {
    redirectToLogin(){
      this.$router.push({name:'UserLoginForm'})
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}

a {
  color: #42b983;
}
</style>
