<template>
  <div>
    <AppBar/>
    <mu-container class="x-container">
      <mu-card style="width: 100%; max-width: 600px; margin: 0 auto;">
        <mu-card-header :title="transaction.category_name" :sub-title="(new Date(transaction.created)).toDateString()"/>
        <mu-card-title :title="transaction.amount" :sub-title="transaction.comment"></mu-card-title>
        <mu-card-actions>
          <mu-button @click="editTransaction" flat color="primary">Изменить</mu-button>
          <mu-button @click="openAlertDialog" flat color="secondary">Удалить</mu-button>
          <mu-dialog title="" width="600" max-width="80%" :esc-press-close="false"
                     :overlay-close="false" :open.sync="openAlert">
            Удалить транзакцию?
            <mu-button slot="actions" flat color="primary" @click="closeAlertDialog">Нет</mu-button>
            <mu-button slot="actions" flat color="secondary" @click="removeTransaction">Удалить</mu-button>
          </mu-dialog>
        </mu-card-actions>
      </mu-card>
    </mu-container>
  </div>
</template>

<script>
  import axiosInstance from '../store/axiosInstance';
  import AppBar from "./AppBar";

  export default {
    name: "TransactionDetail",
    components: {AppBar},
    data() {
      return {
        transaction: [],
        transactionId: 0,
        openAlert: false
      }
    },
    created() {
      this.transactionId = this.$route.params.transactionID;
      this.loadTransaction();
    },
    methods: {
      loadTransaction() {
        axiosInstance({
          method: 'get',
          url: `http://192.168.1.242:8000/api/data/transactions/${this.transactionId}/`,
        })
          .then(res => {
            this.transaction = res.data;
          })
          .catch(error => {
            console.log(error)
          })
      },
      removeTransaction() {
        axiosInstance({
          method: 'delete',
          url: `http://192.168.1.242:8000/api/data/transactions/${this.transactionId}/`,
        })
          .then(res => {
            this.$router.push({name: "TransactionList"});
          })
          .catch(error => {
            console.log(error)
          })
      },
      editTransaction() {
        this.$router.push({
          name: "TransactionForm",
          params: {
            form_type: 'edit',
            transactionId: this.transactionId
          }
        });
      },
      openAlertDialog() {
        this.openAlert = true;
      },
      closeAlertDialog() {
        this.openAlert = false;
      }
    }
  }
</script>

<style scoped>
  .x-container{
    padding-top: 40px;
  }
</style>
