<template>
  <div>
    <AppBar/>
    <mu-container class="x-container ">
      <mu-form ref="form" class="mu-demo-form">
        <mu-form-item v-if="form_type === 'edit'" label="Тип" prop="select">
          <mu-select v-model="transaction_type" @change="getCategories">
            <mu-option v-for="transactions_option in transaction_type_options" :key="transactions_option.name"
                       :label="transactions_option.name"
                       :value="transactions_option.id"></mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item label="Сумма" help-text="" prop="amount">
          <mu-text-field v-model="amount" prop="amount"></mu-text-field>
        </mu-form-item>
        <mu-form-item label="Категория" prop="select">
          <mu-select v-model="selected_category">
            <mu-option v-for="category in categories" :key="category.name" :label="category.name"
                       :value="category.id"></mu-option>
          </mu-select>
        </mu-form-item>
        <mu-form-item label="Краткое описание" help-text="" prop="comment">
          <mu-text-field v-model="comment" prop="comment"></mu-text-field>
        </mu-form-item>
        <mu-form-item>
          <mu-button v-if="form_type !== 'edit'" color="primary" @click="createTransaction">Готово</mu-button>
          <mu-button v-else color="primary" @click="editTransaction">Изменить</mu-button>
          <mu-button @click="goBack">Отмена</mu-button>
        </mu-form-item>
      </mu-form>
    </mu-container>
  </div>
</template>

<script>
  import axiosInstance from '../store/axiosInstance';
  import AppBar from "./AppBar";

  export default {
    name: "TransactionForm",
    components: {AppBar},
    data() {
      return {
        amount: '',
        selected_category: '',
        categories: [],
        comment: '',
        transaction_type: 1,
        transaction_type_options: [
          {id: 1, name: 'Доход'},
          {id: 2, name: 'Расход'}
        ]
      }
    },
    created() {
      this.form_type = this.$route.params.form_type;
      switch (this.form_type) {
        case 'edit':
          this.transactionId = this.$route.params.transactionId;
          this.getTransaction();
          break;
        default:
          this.transaction_type = this.$route.params.transaction_type || 1;
          this.getCategories()
      }
    },
    methods: {
      getCategories() {
        axiosInstance({
          method: 'get',
          url: `http://192.168.1.242:8000/api/data/categories/?category_type=${this.transaction_type}`,
        })
          .then(res => {
            this.categories = res.data;
          })
          .catch(error => {
            console.log(error)
          })
      },
      createTransaction() {
        axiosInstance({
          method: 'post',
          url: 'http://192.168.1.242:8000/api/data/transactions/',
          data: {
            amount: this.amount,
            category: this.selected_category,
            comment: this.comment,
            transaction_type: this.transaction_type,
          }
        })
          .then(res => {
            this.$router.push({name: "TransactionList"});
          })
          .catch(error => {
            console.log(error)
          });
      },
      editTransaction() {
        axiosInstance({
          method: 'put',
          url: `http://192.168.1.242:8000/api/data/transactions/${this.transactionId}/`,
          data: {
            amount: this.amount,
            category: this.selected_category,
            comment: this.comment,
            transaction_type: this.transaction_type,
          }
        })
          .then(res => {
            this.$router.push({name: "TransactionList"});
          })
          .catch(error => {
            console.log(error)
          });
      },
      getTransaction() {
        axiosInstance({
          method: 'get',
          url: `http://192.168.1.242:8000/api/data/transactions/${this.transactionId}/`,
        })
          .then(res => {
            this.transaction_type = res.data.transaction_type;
            this.amount = res.data.amount;
            this.comment = res.data.comment;
            this.selected_category = res.data.category;
            this.getCategories();
          })
          .catch(error => {
            console.log(error)
          })
      },
      goBack() {
        this.$router.go(-1)
      }
    }
  }
</script>

<style scoped>
  .x-container {
    padding-top: 40px;
  }
</style>
