<template>
  <div>
    <AppBar/>
    <mu-container class="x-container">
    <mu-row gutter>
      <mu-col span="12" sm="12" md="6" lg="6" xl="6">
        <div class="grid-cell">
          <UserBalance/>
        </div>
      </mu-col>
      <mu-col span="12" sm="12" md="6" lg="6" xl="6">
        <div class="grid-cell">
          <mu-paper :z-depth="1" class="list-wrap">
            <mu-list textline="two-line" v-for="(transaction, index) in transactions" :key="transaction.id">
              <router-link :to="{ name: 'TransactionDetail', params: { transactionID: transaction.id }}">
                <mu-list-item avatar :ripple="false" button>
                  <mu-list-item-content>
                    <mu-list-item-title>{{transaction.amount}}</mu-list-item-title>
                    <mu-list-item-sub-title style="color: rgba(0, 0, 0, .87)">{{transaction.category_name}}
                    </mu-list-item-sub-title>
                    <mu-list-item-sub-title>{{transaction.comment}}</mu-list-item-sub-title>
                  </mu-list-item-content>
                  <mu-list-item-action>
                    <mu-list-item-after-text>{{(new Date(transaction.created)).toDateString()}}
                    </mu-list-item-after-text>
                  </mu-list-item-action>
                </mu-list-item>
              </router-link>
              <mu-divider v-if="index != transactions.length - 1"></mu-divider>
            </mu-list>
          </mu-paper>
        </div>
      </mu-col>
    </mu-row>
    </mu-container>
  </div>
</template>

<script>
  import axiosInstance from '../store/axiosInstance';
  import UserBalance from "./UserBalance";
  import AppBar from "./AppBar";

  export default {
    name: "TransactionList",
    components: {AppBar, UserBalance},
    data() {
      return {
        transactions: [],
      }
    },
    created() {
      this.loadTransactions()
    },
    methods: {
      loadTransactions() {
        axiosInstance({
          method: 'get',
          url: 'http://192.168.1.242:8000/api/data/transactions/',
        })
          .then(res => {
            this.transactions = res.data;
          })
          .catch(error => {
            console.log(error)
          })
      },
    }
  }
</script>

<style scoped>
  .list-wrap {
    width: 100%;
    overflow: hidden;
  }
  .x-container{
    padding-top: 40px;
  }
</style>
