<template>
  <div>
    <mu-container>
      <mu-card class="login-card">
        <mu-card-title title="Budget" sub-title="войдите в личный кабинет"/>
        <mu-card-text>
          <mu-alert v-if="loginError" color="info" class="x-alert">
            <mu-icon left value="error"></mu-icon>
            ошибка входа
          </mu-alert>
          <mu-form ref="form" class="mu-demo-form" :model="validateForm">
            <mu-form-item label="Email" help-text="" prop="email">
              <mu-text-field v-model="username" prop="email"></mu-text-field>
            </mu-form-item>
            <mu-form-item label="Пароль" help-text="" prop="pass">
              <mu-text-field type="password" v-model="password" prop="pass"></mu-text-field>
            </mu-form-item>
            <mu-form-item>
              <mu-button color="primary" @click="getToken">Войти</mu-button>
            </mu-form-item>
          </mu-form>
        </mu-card-text>
      </mu-card>
    </mu-container>
  </div>
</template>

<script>
  import axios from 'axios';
  import Cookies from 'js-cookie';

  export default {
    name: "UserLoginForm",
    data() {
      return {
        username: '',
        password: '',
        validateForm: {},
        loginError: false
      }
    },
    created() {
      if (this.$store.state.token) {
        this.$router.push({name: "TransactionList"})
      }
    },
    methods: {
      getToken() {
        axios.post('http://192.168.1.242:8000/api/rest-auth/login/', {
          username: this.username,
          password: this.password
        })
          .then(res => {
            const token = res.data.key;
            Cookies.set('token', token, {expires: 5});
            this.$store.commit('logIn', token);
            this.$router.push({name: "TransactionList"})
          })
          .catch(error => {
            console.log(error)
            this.loginError = true
          })
      }
    }
  }
</script>

<style scoped>
  .login-card {
    width: 100%;
    max-width: 420px;
    margin: 100px auto 0;
  }

  .x-alert {
    margin-bottom: 20px;
  }
</style>
