<template>
  <div>
    <mu-card class="balance-card">
      <mu-card-title :title="balance+' руб'" sub-title="баланс"></mu-card-title>
      <mu-card-actions>
        <mu-button @click="redirectToCreateIncomeTransaction" flat color="primary">
          <mu-icon value="attach_money" left></mu-icon>
          Доход
        </mu-button>
        <mu-button @click="redirectToCreateConsumptionTransaction" flat color="secondary">
          <mu-icon value="money_off" left></mu-icon>
          Расход
        </mu-button>
      </mu-card-actions>
    </mu-card>
  </div>
</template>

<script>
  import axiosInstance from '../store/axiosInstance';

  export default {
    name: "UserBalance",
    data() {
      return {
        balance: 0
      }
    },
    created() {
      this.getBalance()
    },
    methods: {
      getBalance() {
        axiosInstance({
          method: 'get',
          url: `http://192.168.1.242:8000/api/data/balance/`,
        })
          .then(res => {
            this.balance = res.data.balance;
          })
          .catch(error => {
            console.log(error)
          })
      },
      redirectToCreateIncomeTransaction() {
        this.$router.push({
          name: 'TransactionForm',
          params: {transaction_type: 1}
        })
      },
      redirectToCreateConsumptionTransaction() {
        this.$router.push({
          name: 'TransactionForm',
          params: {transaction_type: 2}
        })
      }
    }
  }
</script>

<style scoped>
  .balance-card {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto;
  }
</style>
